* {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  padding: 0 10%;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
  float: left;
}
.name {
  width: 100%;
  color: rgb(0, 0, 0);
  padding-top: 5%;
  padding-bottom: 5%;
}
.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.one {
  background: rgb(228, 228, 228);
  height: 890px;
  width: 330px;
  border-right: solid rgb(201, 201, 201);
}
.two {
  background: rgb(245, 245, 245);
  height: auto;
  width: 600px;
}
.prof {
  color: rgb(0, 0, 0);
  padding-top: 5px;
  padding-bottom: 50px;
}
.inf {
  color: rgb(0, 0, 0);
  width: auto;
  padding: 10px;
  text-align: left;
  padding-left: 27px;
  font-weight: 900;
  font-size: 17px;
}
.continf {
  color: rgb(0, 0, 0);
  width: auto;
  height: 140px;
  text-align: left;
  padding-left: 27px;
  line-height: 1.9;
  }
.circle {
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border: 2px solid rgb(179, 179, 179);
  margin-top: 30px;
}
.am {
  text-align: left;
  margin: 20px;
  border-bottom: 2px solid rgb(179, 179, 179);
}
.text {
  text-align: left;
  color: rgb(0, 0, 0);
  margin: 30px;
  padding-left: 10px;
}
.ed {
  text-align: left;
  margin: 20px;
  border-bottom: 2px solid rgb(179, 179, 179);
}
.edu {
  text-align: left;
  color: rgb(0, 0, 0);
  margin: 30px;
  padding-left: 10px;
}
.en {
  text-align: left;
  margin: 20px;
  border-bottom: 2px solid rgb(179, 179, 179);
}
.enu {
  text-align: left;
  color: rgb(0, 0, 0);
  margin: 30px;
  padding-left: 10px;
}
