@font-face {
  font-family: "Marvel-Regular";
  src: url("assets/fonts/Alef-Regular.ttf");
  font-weight: 300;
}
* {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.logo {
  float: left;
}
.name {
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  padding: 30px;
  height: 2px;
}
.nam {
  background: teal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: inherit;
  color: rgba(104, 10, 10, 0.795);
}
.contakt {
  background: olivedrab;
  color: blue;
}
.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.one {
  background: rgb(153, 162, 165);
  height: 890px;
  width: auto;
}
.two {
  background: azure;
  height: 890px;
  width: 550px;
}
.prof {
  color: rgb(255, 255, 255);
  padding-top: 0px;
  padding-bottom: 70px;
  font-weight: 1000;
  border-bottom: solid chocolate;
}
.inf {
  color: rgb(255, 255, 255);
  width: 220px;
  padding: 30px;
  background: rgb(181, 199, 199);
  text-align: left;
  padding-left: 27px;
  font-weight: 900;
  font-size: 17px;
}
.continf {
  color: rgb(255, 255, 255);
  width: 220px;
  height: 120px;
  background: rgb(181, 199, 199);
  text-align: left;
  padding-left: 27px;
}
.foto {
  padding-top: 40px;
  justify-content: center;
}
.text {
  color: blue;
  border-left: solid coral;
  margin: 20px;
  ;
  }
